# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
out/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Java specific
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# docs dir
docs/
